extends base

block content
  #insert 
    .key a
      small event.key 
    
    .key 65
      small event.keyCode 
    
    .key KeyA 
      small event.code 

    .key Press any key to get the keyCode
